!!! 5
%html
  %head
    %title WinLoss.
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      .container
        %hgroup
          %h1 Win-Loss
          %h2 Record ass-whoopings.

      = flash_messages_for :notice, :alert, :message

    .container
      %section#entry
        = form_tag games_path do |f|
          = text_field_tag :result, nil, placeholder: 'Record your result', autofocus: true
          = select_tag 'game_type', '<option>Individual</option><option>Team</option>'.html_safe
          = submit_tag 'Record', :class => 'btn btn-primary'

      = yield
